.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-color: #dca01e;
    margin: 50px 0 50px 0;
    border-radius: 20px;
    
}
.entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img-logo{
    margin: 50px 100px 50px 100px;
    border-radius: 30px;
}

.usuario{
    width: 500px;
}
span{
    color: rgb(153, 25, 40);
    
}
.container{
    align-content: flex-start;
}
.labels-form-login{
    font-family: 'Joti One', cursive;
    font-size: 25px;
    margin: 17px 13px 0px 11px;
}

#form-login{
    width: 250px;
    border: solid 1px orange;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 40px
}
.btn-login{
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: orange;
}
.btn-login:hover{
    color: orange;
    background-color: black;
}
.labels-form-logged{
    font-family: 'Joti One', cursive;
    font-size: 25px;
    margin: 20px 20px 10px 20px;
    text-decoration: none;
    color: chocolate;
}
.form-logged{
    width: 190px;
    border: solid 2px chocolate;
    margin-left: 30px;
}
.btn-logged{
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(243, 241, 216);
}
.btn-logged:hover{
    color: rgb(245, 106, 7);
    background-color: rgb(52, 27, 27);
}