.nav-global {
    background: #DFD71C;
    width: 100%;
    height: 115px;
    display: flex;
    align-items: center;

}
.nav-titulo{
    font-family: 'Joti One', cursive;
    margin-left: 40px;
}

.nav-global-log{
    background-color: #DFD71C ;
    display: flex;
    align-items: center;
}

.imagen-general{
    width: 40px
}